*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    h1,h2,h3{
        font-family: "exo 2", sans-serif;
    }
    p{
        font-family: "pt sans", sans-serif;
    }
}
a{
    text-decoration: inherit;
    color: inherit;
}

